<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
          <class name="tests.QITS.TC01_NewMaterialEntry"/>
    
      <class name="tests.QITS.TC02_NewSupplierEntry"/>

      <class name="tests.QITS.TC03_NewPlantMatSuppConnect"/>
      
      <class name="tests.QITS.TC04_MaterialSpecification"/>
      
      <class name="tests.QITS.TC05_RetrospectiveMethods"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
